@model AboutPageVM

@section css{
    <link rel="stylesheet" href="~/css/about.css" />
}
@{
    ViewData["Title"] = "Index";
}

<section class="inner-section single-banner"
         style="background: url(~/images/single-banner.jpg) no-repeat center">
    <div class="container">
        <h2>about our company</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">about</li>
        </ol>
    </div>
</section>
<section class="inner-section about-company">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <h2>Our Motive is to Provide Best for Those Who Deserve</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Officiis exercitationem commodi aliquam necessitatibus vero
                        reiciendis quaerat illo est fuga ea temporibus natus doloremque
                        ipsum voluptas quod deserunt expedita reprehenderit pariatur
                        quidem quisquam, recusandae animi non! Voluptas totam
                        repudiandae rerum molestiae possimus quis numquam sapiente sunt
                        architecto quisquam Aliquam odio optio
                    </p>
                </div>
                <ul class="about-list">
                    <li>
                        <h3>34785</h3>
                        <h6>registered users</h6>
                    </li>
                    <li>
                        <h3>2623</h3>
                        <h6>per day visitors</h6>
                    </li>
                    <li>
                        <h3>189</h3>
                        <h6>total products</h6>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img style="width:248px; height:248px" src="~/images/about/01.jpg" alt="about" /><img style ="width:248px; height:248px" src="~/images/about/02.jpg"
                                                                                                          alt="about" /><img style="width:248px; height:248px" src="~/images/about/03.jpg" alt="about" /><img style="width:248px; height:248px" src="~/images/about/04.jpg"
                                                                                                                                      alt="about" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section about-testimonial">
    <div class="container">
        <ul class="testi-slider slider-arrow">
            @foreach (var item in Model.TeamVM)
            {
                <li>
                    <div class="testi-content d-flex">
                        <a class="testi-img" href="#">
                            <img src="~/images/team/@item.Image" alt="testimonial" />
                        </a>
                        <div class="testi-quote">
                            <i class="icofont-quote-left"></i>
                            <p>
                                @item.About
                            </p>
                            <h4>@item.Name</h4>
                            <h6>@item.Position</h6>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>Why People Choose Their Daily Organic Life With Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.ServiceVM)
            {
                <div class="col-lg-6">
                    <div class="choose-card">
                        <div class="choose-icon"><i class="icofont-fruits"></i></div>
                        <div class="choose-text">
                            <h4>@item.Title</h4>
                            <p>@item.Text</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="inner-section about-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading"><h2>our team members</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="team-slider slider-arrow">
                    @foreach (var item in Model.TeamVM)
                    {
                        <li>
                            <figure class="team-media">
                                <img src="~/images/team/@item.Image" alt="team" />
                                @foreach (var socials in Model.SocialVM)
                                {
                                    <div class="team-overlay">
                                        <a href="#" class="">@Html.Raw(socials.Icon)</a>
                                    </div>
                                }
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">@item.Name</a></h5>
                                <p>@item.Position</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="news-part"
         style="background: url(~/images/newsletter.jpg) no-repeat center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Get 20% Discount for Subscriber</h2>
                    <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text"
                           placeholder="Enter Your Email Address" /><button>
                        <span><i class="icofont-ui-email"></i>Subscribe</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

