@model List<SubCategoryVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 style="font-size:24px" class="mb-5">Category</h6>
                <div class="table-responsive">
                    <a asp-controller="SubCategory" asp-action="Add" class="float-right my-3 btn btn-outline-success">Add SubCategory</a>
                    <table class="table">
                        <thead>
                            <tr style="color:wheat; text-align:center">
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="color:floralwhite" class="parent">
                                    <td>@item.Name</td>
                                    <td>@item.Category</td>
                                    <td class="d-flex flex-column align-items-center">
                                        <div class="d-flex justify-content-center align-items-center ">
                                            <a class="btn btn-outline-warning" asp-controller="SubCategory" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center my-2 ">
                                            <button type="submit" data-id="@item.Id" class="btn btn-outline-danger subcategory-delete"><i class="fa-sharp fa-solid fa-trash"></i></button>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center ">
                                            <a class="btn btn-outline-info" asp-controller="SubCategory" asp-action="Detail" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section AdminScript{
    <script src="~/admin/js/custom.js"></script>
}
