@model ShopPageVM
@{
    ViewData["Title"] = "Index";
}

<section class="inner-section single-banner"
         style="background: url(~/images/single-banner.jpg) no-repeat center">
    <div class="container">
        <h2>Shop 4 Column</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                shop-4column
            </li>
        </ol>
    </div>
</section>
<section class="inner-section shop-part">
    <div class="container">
        <div class="row content-reverse">
            <div class="col-lg-3">
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Filter by Price</h6>
                    <form method="get" asp-action="Index" asp-controller="Shop">
                        <div class="shop-widget-group">
                            <input type="number" id="minPrice" name="minPrice" placeholder="Min - 00" />
                            <input type="number" id="maxPrice" name="maxPrice" placeholder="Max - 5k" />
                        </div>
                        <button class="shop-widget-btn" type="submit">
                            <i class="fas fa-search"></i><span>search</span>
                        </button>
                    </form>
                </div>
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Filter by Rating</h6>
                    <form method="get" asp-action="Index" asp-controller="Shop">
                        <ul class="shop-widget-list">
                            <li>
                                <div class="shop-widget-content">
                                    <input type="checkbox" name="selectedRatings" value="5" /><label for="feat1">
                                        <i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i>
                                    </label>
                                </div>
                               @* <span class="shop-widget-number">(@Model.RatingVM.FirstOrDefault(m=>m.RatingCount == 5).ProductCount)</span>*@
                            </li>
                            <li>
                                <div class="shop-widget-content">
                                    <input type="checkbox" name="selectedRatings" value="4" /><label for="feat2">
                                        <i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i>
                                    </label>
                                </div>
@*                                <span class="shop-widget-number">(@Model.RatingVM.FirstOrDefault(m=>m.RatingCount == 4).ProductCount)</span>*@
                            </li>
                            <li>
                                <div class="shop-widget-content">
                                    <input type="checkbox" name="selectedRatings" value="3" /><label for="feat3">
                                        <i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    </label>
                                </div>
                                @*<span class="shop-widget-number">(@Model.RatingVM.FirstOrDefault(m=>m.RatingCount == 3).ProductCount)</span>*@
                            </li>
                            <li>
                                <div class="shop-widget-content">
                                    <input type="checkbox" name="selectedRatings" value="2" /><label for="feat4">
                                        <i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    </label>
                                </div>
                            @*    <span class="shop-widget-number">(@Model.RatingVM.FirstOrDefault(m=>m.RatingCount == 2).ProductCount)</span>*@
                            </li>
                            <li>
                                <div class="shop-widget-content">
                                    <input type="checkbox" name="selectedRatings" value="1" /><label for="feat5">
                                        <i class="fas fa-star active"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    </label>
                                </div>
                            @*    <span class="shop-widget-number">(@Model.RatingVM.FirstOrDefault(m=>m.RatingCount == 1).ProductCount)</span>*@
                            </li>
                        </ul>
                        <button type="submit" class="shop-widget-btn">
                            <i class="far fa-trash-alt"></i><span>Submit</span>
                        </button>
                    </form>
                </div>
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Filter by Tag</h6>
                    <form id="filterForm" method="get" asp-controller="Shop" asp-action="Index">
                        <ul class="shop-widget-list">
                            @foreach (var item in Model.TagVM)
                            {
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" name="tags" id="@item.Id" value="@item.Name" onchange="this.form.submit()" />
                                        <label for="@item.Id">@item.Name</label>
                                    </div>
                                    <span class="shop-widget-number">(@item.ProductCount)</span>
                                </li>
                            }
                        </ul>
                        <button type="button" class="shop-widget-btn" onclick="clearFilter()">
                            <i class="far fa-trash-alt"></i><span>Submit</span>
                        </button>
                    </form>

                </div>
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Filter by Brand</h6>
                    <form>
                        <input class="shop-widget-search"
                               type="text"
                               placeholder="Search..." />
                        <ul class="shop-widget-list shop-widget-scroll">
                            @foreach (var item in Model.BrandVM)
                            {
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" name="brands" id="@item.Id" value="@item.Name" onchange="this.form.submit()" /><label for="brand1">@item.Name</label>
                                    </div>
                                    <span class="shop-widget-number">(@item.ProductCount)</span>
                                </li>
                            }
                            
                        </ul>
                        <button class="shop-widget-btn">
                            <i class="far fa-trash-alt"></i><span>Submit</span>
                        </button>
                    </form>
                </div>
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Filter by Category</h6>
                    <form>
                        <input class="shop-widget-search"
                               type="text"
                               placeholder="Search..." />
                        <ul class="shop-widget-list shop-widget-scroll">
                            @foreach (var item in Model.CategoryVM)
                            {
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" name="brands" id="@item.Id" value="@item.Name" onchange="this.form.submit()" /><label for="brand1">@item.Name</label>
                                    </div>
                                    <span class="shop-widget-number">(@item.ProductCount)</span>
                                </li>
                            }

                        </ul>
                        <button class="shop-widget-btn">
                            <i class="far fa-trash-alt"></i><span>Submit</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                    @foreach (var item in Model.ProductVM)
                    {
                        <div class="col">
                            <div class="product-card">
                                <div class="product-media">
                                    <div class="product-label">
                                        <label class="label-text new">new</label>
                                    </div>
                                    <button class="product-wish wish">
                                        <i class="fas fa-heart"></i>
                                    </button><a class="product-image" href="product-video.html">
                                        <img src="~/images/product/@item.Image" alt="product" />
                                    </a>
                                    <div class="product-widget">
                                        <a title="Product Compare"
                                           href="compare.html"
                                           class="fas fa-random"></a><a title="Product Video"
                                                                        href="https://youtu.be/9xzcVxSBbG8"
                                                                        class="venobox fas fa-play"
                                                                        data-autoplay="true"
                                                                        data-vbtype="video"></a><a title="Product View"
                                                                                                   href="#"
                                                                                                   class="fas fa-eye"
                                                                                                   data-bs-toggle="modal"
                                                                                                   data-bs-target="#product-view"></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        @for (int i = 0; i < item.Ratings.RatingCount; i++)
                                        {
                                            <i class="active icofont-star"></i>
                                        }
                                        @for (int i = 0; i < (5 - item.Ratings.RatingCount); i++)
                                        {
                                            <i class="icofont-star"></i>
                                        }
                                    </div>
                                    <h6 class="product-name">
                                        <a href="product-video.html">fresh green chilis</a>
                                    </h6>
                                    <h6 class="product-price">
                                        @if (item.Discounts.Percent != 0)
                                        {
                                            <span>$@((item.Price * item.Discounts.Percent) / 100)</span>
                                        }
                                        <del style="margin-left:5px;">$@item.Price.ToString("0.#####")<small>/piece</small></del>
                                    </h6>
                                    <button class="product-add" title="Add to Cart">
                                        <i class="fas fa-shopping-basket"></i><span>add</span>
                                    </button>
                                    <div class="product-action">
                                        <button class="action-minus" title="Quantity Minus">
                                            <i class="icofont-minus"></i>
                                        </button><input class="action-input"
                                                        title="Quantity Number"
                                                        type="text"
                                                        name="quantity"
                                                        value="1" /><button class="action-plus" title="Quantity Plus">
                                            <i class="icofont-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/basket.js"></script>
}