@model BlogPageVM
@{
    ViewData["Title"] = "Index";
}

<section class="inner-section single-banner"
         style="background: url(images/single-banner.jpg) no-repeat center">
    <div class="container">
        <h2>blog grid</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog grid</li>
        </ol>
    </div>
</section>
<section class="inner-section blog-grid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    
                    @foreach (var item in Model.BlogVM)
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="blog-card">
                                <div class="blog-media">
                                <a class="blog-img" href="#">
                                    <img src="~/images/blog/@item.Image" alt="blog" />
                                </a>
                            </div>
                                <div class="blog-content">
                                    <ul class="blog-meta">
                                        <li><i class="fas fa-user"></i><span>@item.Team</span></li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i><span>@item.CreateDate</span>
                                        </li>
                                    </ul>
                                    <h4 class="blog-title">
                                        <a href="blog-details.html">
                                            @item.Title
                                        </a>
                                    </h4>
                                    <p class="blog-desc">@item.Text</p>
                                </div>
                            </div>
                        </div>
                    }    
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="blog-widget">
                    <h3 class="blog-widget-title">popular feeds</h3>
                    <ul class="blog-widget-feed">
                        @foreach (var item in Model.BlogVM)
                        {
                            <li>
                                <a class="blog-widget-media" href="#">
                                    <img src="~/images/blog/@item.Image" alt="blog-widget" />
                                </a>
                                <h6 class="blog-widget-text">
                                    <a href="#">@item.Title</a><span>@item.CreateDate</span>
                                </h6>
                            </li>
                        }
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">top categories</h3>
                    <ul class="blog-widget-category">
                        @foreach (var item in Model.CategoryVM)
                        {
                            <li>
                                <a href="#">@item.Name<span>@item.ProductCount</span></a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">popular tags</h3>
                    <ul class="blog-widget-tag">
                        <li><a href="#">farming</a></li>
                        <li><a href="#">organic</a></li>
                        <li><a href="#">food</a></li>
                        <li><a href="#">healthy</a></li>
                        <li><a href="#">agriculture</a></li>
                        <li><a href="#">vegetables</a></li>
                        <li><a href="#">grocery</a></li>
                        <li><a href="#">vegan</a></li>
                        <li><a href="#">life</a></li>
                        <li><a href="#">enjoy</a></li>
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">follow us</h3>
                    <ul class="blog-widget-social">
                        @foreach (var item in Model.SocialVM)
                        {
                            <li><a href="#">@Html.Raw(item.Icon)</a></li>
                        }
                    </ul>
                </div>
                <div class="blog-widget">
                    <a href="#">
                        <img class="img-fluid"
                             src="images/ads/@Model.AdversitmentVM.FirstOrDefault().Image"
                             alt="promo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

